body {
    background-color: rgb(10, 1, 28);
    color:white;
}

h1 {
    color: white;
}
#score{
    color:white;
    text-align:center;
    align-items: center;
}
.box1 {
    background-color: aquamarine;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    font-family: "Poppins", sans-serif;
}

/* The .box1 p styles are used to remove any default margin from the paragraph inside the box. */
.box1 p {
    margin: 0;
}

#text1 {
    width: fit-content;
}

#box2 {
    background-color: aqua;

    justify-content: center;
	align-items: center;
}
.text2 {
	text-align: center;
	margin-right: 10px;
}
.c {
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}
.btn {
    width: 100px;
    height: 40px;
    background-color: #5900ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.btn1 {
    background-image: url(./bg3.PNG);
    margin-bottom: 15px;
    cursor: pointer;
    animation: moveButton 15s linear infinite;
    /* 4 seconds duration, linear easing, infinite loop */
}
.btn2{
    width: 100px;
    height: 40px;
    background-color: #5900ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2px;
}
.hide{
    display:none;
}
@keyframes moveButton {
    0% {
      transform: translateX(0); /* Start at initial position */
    }
    50% {
      transform: translateX(calc(100vw - 100%)); /* Move to right (100% - button width) */
    }
    100% {
      transform: translateX(0); /* Move back to initial position */
    }
}
.paused {
    animation-play-state: paused;
}